body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}


.main {
  flex: 1;
}

h2{
  display: block;
}

p{
  display: block;
}

h1 {
  font-size: 5rem;
  text-align: left;
  width: 800px;
}

footer {
  text-align: right;
  color: midnightblue;
}

span{
  color: midnightblue;
}

.card img{
  height: 210px;
  float: left;
  margin-right: 32px;
}

.left{
  display: block;
  float: left;
  width: 45%;
}

.right{
  display: block;
  float: right;
  width: 45%;
}

@media (max-width: 710px){
  .logo{
    width: 100px;
  }

  h1{
    font-size: 3.5rem;
    text-align: center;
    width: 100%;
  }

  .card{
    display: block;
    width: 100%;
  }
}