body, html{
  margin: 0;
  padding: 0;
}

body{
  background: linear-gradient(45deg, rgba(70, 130, 169, 0.20) 41.20%, rgba(0, 0, 0, 0.00) 100%), linear-gradient(225deg, #749BC2 53.65%, rgba(255, 255, 255, 0.00) 100%);
  min-height: 100vh;
  max-height: 100%;
}

nav{
  display: flex;
  margin-left: 5rem;
  margin-top: 2.94rem;
}

.link{
  color: #F6F4EB;
  font-family: Abhaya Libre;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

a {
  text-decoration: none; 
  color: #F6F4EB; 
}

a:hover {
  color: #91C8E4; 
}


.work{
  margin-left: 3.88rem;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 9rem;
}

.rectangle{
  width: 29.4375rem;
  height: 3.8125rem;
  border-radius: 0.4375rem;
  text-align: center;
}


.title{
  background: #91C8E4;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.title-section{
  color: #000;
  font-family: Abhaya Libre ExtraBold;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-block: 0.44rem;
}


/* Todo item example*/
.todo{
  margin-top: 2.94rem;
  text-align: left;
  border-radius: 0.3125rem 0.3125rem 0rem 0rem;
  border-bottom: 1px solid #D9D9D9;
  background: #F6F4EB;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.00);
}

.todo-snd{
  text-align: left;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  background: #F6F4EB;
  border-radius: 0px;
  box-shadow: 4px 0px 0px 4px rgba(0, 0, 0, 0.00);
}

.content{
  display: flex;
  margin-left: 1.5rem;
}

.checkbox{
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 0.3125rem;
  border: 1px solid #000;
  background: #EBEBEB;
  margin-block: 1.25rem;
}

.todo-item{
  color: #2F2F2F;
  font-family: Abhaya Libre Medium;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-block: 0.81rem;
  margin-left: 3rem;
}

input:checked + p {
  text-decoration: line-through;
  text-decoration-color: #91C8E4;
}
/**/


.item-before{
  margin-top: 2.94rem;
  background: #F6F4EB;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  --accent-color: #91C8E4;
}

.item-after{
  background: #F6F4EB;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 0rem 0rem 0.3125rem 0.3125rem; 
  --accent-color: #91C8E4;
}

.new-item::placeholder {
  transition: opacity 250ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  opacity: 1;
  user-select: none;
  color: #C1C1C1;
}

.new-item {
  background-color: #F6F4EB;
  font-family: Abhaya Libre SemiBold;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 200ms;
  transition-property: background-color;
  color: #C1C1C1;
  font-size: 2.25rem;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  border-left: none;
  border-bottom: none;
  border-right: none;
  border-top: none;
  text-align: center;
  margin-block: 0.5rem;
}

input[type="text"]{
  width: 70%;
  margin-left: 40px;
}

input[type="text"]:focus{
  outline: none;
  box-shadow: inset 0 -3px 0 0 #91C8E4;
}

.item .new-item:focus,
.item .new-item:active {
  outline: none;
}

.item:focus-within .new-item,
.item .new-item:focus,
.item .new-item:active {
  background-color: #F6F4EB
}

.item:focus-within .new-item::placeholder {
  opacity: 0;
}

button{
  position: relative;
  top: 1rem;
  left: 2.3rem;
  min-height: 60px;
  width: 60px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #91C8E4;
  color: black;
  font-size: 40px;
  border-width: 0;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.1s;
}

button:hover {
  background-color: #2980b9;
}

button:active {
  transform: scale(0.95);
}


footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #525252;
  font-family: Abhaya Libre;
  font-size: 1rem;
  margin-top: 3rem;
  margin-bottom: rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}